body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
}

input[type=submit] {
  float: right;
  padding: 8px 15px;
  background: #ccc;
  border: 0 none;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
}

textarea {
  resize: none;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  color: #FF0057;
}

#top-nav {
  position: fixed;
  background: #55ACEE;
  height: 50px;
  width: 100%;
  top: 0;
  left: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  text-align: center;
}

#brand {
  text-align: center;
  line-height: 50px;
  font-family: 'Lobster', cursive;
  font-size: 24px;
  color: white;
  display: inline-block;
}

#search {
  position: absolute;
  height: 24px;
  top: 7px;
  right: 10px;
  width: 200px;
  border-radius: 24px;
  padding: 4px;
  padding-left: 10px;
  padding-right: 36px;
  font-size: 14px;
  outline: none;
}

.fa-search {
  position: absolute;
  top: 15px;
  right: 24px;
}

.container {
  margin-top: 70px;
}

#tweet-box {
  position: absolute;
  height: 160px;
  width: 250px;
  text-align: center;
  background: #00A5D5;
  padding: 6px;
  border-radius: 6px
}

#tweet-box-title {
  color: #ccc;
}

#trends-container {
  position: absolute;
  top: 250px;
  height: 258px;
  width: 228px;
  border: 1px solid #000;
  padding: 15px;
  border-radius: 6px;
  margin-top: 10px;
}

#trends-container h3 {
  color: #66757F;
}

